config/*
!config/api_key.txt

openmlsource/*
!openmlsource/readme.md

OpenML/
OpenML2/
OpenML-backup/

openml.org/
portml-website/
portml-platform/

storage/datastore/*
storage/es/*
storage/mysql/*
portml-website

docker-compose.yml
docker-compose-aws.yml
